<li class="commentbox">
    <a href="../ProfilePage/Profile.html"><h2 class="commenter">{{author}}<span class="datetime">{{createdAt}}</span></h2></a>
    <p class="comment">{{comment_text}}</p>
</li>