<html>
    <head>
        <title>NOT FOUND</title>
        <link rel = "stylesheet" type = "text/css" media = "all" href = "/css/universal_styles.css">
        <link rel = "stylesheet" type = "text/css" media = "all" href = "/css/about.css">

    </head>

    <body>
        
        {{> header}}

        <h1>404 NOT FOUND</h1>
        
    </body>
</html> 