<html>
    <head>
        <title>About page</title>
        <link rel = "stylesheet" type = "text/css" media = "all" href = "/css/universal_styles.css">
        <link rel = "stylesheet" type = "text/css" media = "all" href = "/css/about.css">

    </head>

    <body>
        
        {{> header}}

        <h1>Made by</h1>
        <ul>
            <li><a href="https://github.com/andres-dalisay">Andres Paolo A. Dalisay</a></li>
            <li><a href="https://github.com/TimPin28">Timothy Vincent N. Pinawin</a></li>
            <li><a href="https://github.com/absstudent">Antoinne Bryce R. Salvador</a></li>
        </ul>

        <h1>NPM packages used</h1>
        <ul>
            <li><a href="https://mongoosejs.com">mongoose</a></li>
            <li><a href="https://handlebarsjs.com">hbs</a></li>
            <li><a href="https://www.npmjs.com/search?q=express-validator">express-validator</a></li>
            <li><a href="https://www.npmjs.com/package/express-session">express-session</a></li>
            <li><a href="https://www.npmjs.com/package/express-fileupload">express-fileupload</a></li>
            <li><a href="https://expressjs.com">express</a></li>
            <li><a href="https://www.npmjs.com/package/dotenv">dotenv</a></li>
            <li><a href="https://www.npmjs.com/package/connect-mongo">connect-mongo</a></li>
            <li><a href="https://www.npmjs.com/package/connect-flash">connect-flash</a></li>
            <li><a href="https://www.npmjs.com/package/bcrypt">bcrypt</a></li>
        </ul>
        
    </body>
</html> 