<html>
    <head>
        <title>Create a Dish</title>
        <script src = "/js/create.js"></script>
        <script src = "/js/jquery-2.1.1.js"></script>
        <link rel = "stylesheet" type = "text/css" media = "all" href = "/css/create.css">
        <link rel = "stylesheet" type = "text/css" media = "all" href = "/css/universal_styles.css">
    </head>

    <body>

        {{> header}}
        
        <div id="content">
            <div id="left">
                <form action = "/submit-post" method="post" enctype="multipart/form-data" onSubmit = "return checkForm()" id="createForm">
                    <div>
                        <br>
                        <input name = "title" type = "text"  placeholder = "Recipe Title" id = "title" size = 50>
                        <br><br>
                        <input name = "tags" type = "text" placeholder = "Tags" id = "tags" size = 20>
                        <br><br>
                        <textarea name = "ingredients" form="createForm" placeholder = "Ingredients" id="ingredients" rows="10" cols="100"></textarea>
                        <br><br>
                        <textarea name = "instructions" form="createForm" placeholder = "Instructions" id="instructions" rows="10" cols="100"></textarea>
                        <br><br>
                        <input name = "image" id = "image" type = "file" accept = "image/png, image/jpeg" onchange="readURL(this);"/>
                        <br><br>
                        <input type = submit id="button" value = "Create">
                    </div>
                </form>
            </div>
            <div id="right">
                <img id = "foodimg" src = "#" alt = "Your Image"/>
            </div>
        </div>

    </body>
</html>