<html>
    <head>
        <title>Create a Dish</title>
        <script src = "/js/createedit.js"></script>
        <script src = "/js/jquery-2.1.1.js"></script>
        <script src="https://cdn.ckeditor.com/ckeditor5/34.1.0/balloon/ckeditor.js"></script>
        <link rel = "stylesheet" type = "text/css" media = "all" href = "/css/create.css">
        <link rel = "stylesheet" type = "text/css" media = "all" href = "/css/universal_styles.css">
    </head>

    <body>

        {{> header}}
        
        <div id="content">
            <div id="left">
                <form action = "/edit-post" method="post" enctype="multipart/form-data" onSubmit = "return checkForm()" id="createForm">
                    <div>
                        <br>
                        <input name = "title" type = "text" value = {{title}} id = "title" size = 50>
                        <br><br>
                        <input name = "tags" type = "text" value = {{tags}} id = "tags" size = 20>
                        <br><br>
                        <textarea name = "ingredients" form="createForm" id="ingredients" rows="10" cols="100">{{ingredients}}</textarea>
                        <br><br>
                        <textarea name = "instructions" form="createForm" id="instructions" rows="10" cols="100">{{instructions}}</textarea>
                        <br><br>
                        <input name = "image" id = "image" type = "file" accept = "image/png, image/jpeg" onchange="readURL(this);"/>
                        <br><br>
                        <input type = submit id="button" value = "Edit">
                    </div>
                </form>
            </div>
            <div id="right">
                <img id = "foodimg" src = "#" alt = "Your Image"/>
            </div>
        </div>

    </body>
</html>