<html>
    <head>
        <title>Cookit</title>
        <link rel = "stylesheet" type = "text/css" media = "all" href = "css/landing.css">
        <link rel = "stylesheet" type = "text/css" media = "all" href = "css/universal_styles.css">
    </head>
    <body>
        <img src="images/Icon.png">
        <br>
        <button onclick="window.location.href='Login.html'" id="login">Log In</button>
        <br>
        <button onclick="window.location.href='Register_Page.html'" id="register">Sign Up</button>
    </body> 
</html>