<html>
    <head>
        <title>Login</title>
        <!-- <script src = "login.js"></script> -->
        <link rel = "stylesheet" type = "text/css" media = "all" href = "css/login.css">
        <link rel = "stylesheet" type = "text/css" media = "all" href = "css/universal_styles.css">
    </head>

    <body>
        <img src="images/Icon.png" />
        <!-- <form action = "http://www.google.com" onSubmit = "return checkForm()"> -->
        <form action = "home_page.html">
            <div>
                <br>
                <input type = "text"  placeholder = "Username" id = "username" size = 30>
                <br><br>
                <input type = "password" placeholder = "Password" id = "password" size = 30>
                <br><br>
                <input type = 'submit' id="button" value = "Log in">
            </div>
        </form>
    </body>
</html>     