<html>
    <head>
        <title>Login</title>
        <!-- <script src = "login.js"></script> -->
        <link rel = "stylesheet" type = "text/css" media = "all" href = "css/login.css">
        <link rel = "stylesheet" type = "text/css" media = "all" href = "css/universal_styles.css">
    </head>

    <body>
        {{>messages}}
        <a href="/"><img id="logo" src="images/Icon.png" /></a>
        <!-- <form action = "http://www.google.com" onSubmit = "return checkForm()"> -->
         <form id="login-form" action ="/login" method="POST">
            <div>
                <br>
                <input type ="text" placeholder="Username" id="username" name="username" size = 30>
                <br><br>
                <input type="password" placeholder="Password" id="password" name="password" size = 30>
                <br><br>
                <input type="submit" id="button" value="Log in">
            </div>
        </form>
    </body>
</html>     