<html>
    <head>
        <title>cookit | Login</title>
        <link rel = "stylesheet" type = "text/css" media = "all" href = "/css/loginregisterforms.css">
        <link rel = "stylesheet" type = "text/css" media = "all" href = "/css/messages.css">
        <link rel = "stylesheet" type = "text/css" media = "all" href = "css/universal_styles.css">
    </head>

    <body>

        <div class="form-container">
            <a href="/"><img id="logo" src="images/Icon.png" /></a>
            <form id="register-form" action ="/login" method="POST">
                <div>
                    <input type ="text" placeholder="Username" id="username" class="form-input" name="username">
                    <input type="password" placeholder="Password" id="password" class="form-input" name="password">
                    <input type="submit" id="button" value="Log in">
                    {{>messages}}
                </div>
            </form>
        </div>
    </body>
</html>     