<html>
    <head>
        <title>Register</title>
        <script src = "js/Register.js"></script>
        <link rel = "stylesheet" type = "text/css" media = "all" href = "css/register.css">
        <link rel = "stylesheet" type = "text/css" media = "all" href = "css/universal_styles.css">
    </head>

    <body>
        <div id="register-container">
            <img id="logo" src="images/Icon.png" />
            <form id="register-form" action ="/register" method="POST">
                <div>
                    <br>
                    <input type="text" placeholder="Username" id ="username" size = 30>
                    <br><br>
                    <input type="email" placeholder ="Email" id="email" size=30>
                    <br><br>
                    <input type="password" placeholder="Password" id="password" size = 30>
                    <br><br>
                    <input type="password" placeholder="Confirm Password" id = "confirmPassword" size = 30>

                    <br><br>

                    <input type ="submit" id="button" value = "Register">
                </div>
            </form>
        </div>
    </body>
</html>