<html>
    <head>
        <title>Settings</title>
        <link rel = "stylesheet" type = "text/css" media = "all" href = "css/settings.css">
        <link rel = "stylesheet" type = "text/css" media = "all" href = "css/universal_styles.css">
    </head>

    <body>

        {{> header}}

        <br><br><br>

        <h1>General Account Settings</h1>

        <br><br>

        <hr>

        <br><br>

        <div id="change-password">
            <h2>Change Password</h2>
            <form id="change-password-form" action="/changepass" method="POST">
                <input type="password">
            </form>
        </div>

        <br><br>

        <div id="change-profile-picture">
            <h2>Change Profile Picture</h2>
            <form id="change-profile-picture-form" action="/changepfp" method="POST">
                <input name = "image" id = "image" type = "file" accept = "image/png, image/jpeg"/>
            </form>
        </div>

        <form action = "" id="createForm">
            <input type = submit id="button" value = "Delete Account">
        </form>

    </body>
</html>