<html>
    <head>
        <title>Settings</title>
        <link rel = "stylesheet" type = "text/css" media = "all" href = "css/settings.css">
        <link rel = "stylesheet" type = "text/css" media = "all" href = "css/universal_styles.css">
    </head>

    <body>

        {{> header}}

        <br><br><br>

        <h1>General Account Settings</h1>

        <br><br>

        <hr>

        <br><br>

        <h2>Display Name</h2>
        <br><br>

        <h2>Change Password</h2>
        <br><br>

        <h2>Change Profile Picture</h2>
        <br><br><br>

        <form action = "LandingPage.html" id="createForm">
            <input type = submit id="button" value = "Delete Account">
        </form>

    </body>
</html>