div {
    position: absolute;
    width: 227px;
    height: 63px;
    left: 835px;
    top: 350px;
}

img {
    position: absolute;
    width: 234px;
    height: 62px;
    left: 835px;
    top: 280px;
}